body {
    background-color: rgb(225, 225, 235);
}
h1 {
    display: none;
}

.logo {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.para {
    color: cornflowerblue;
}

td {
    text-align: center;
}
